footer {
    width: $site-width;
    height: 100px;
    background-color: $site-blue;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;

    .copyright {
        p {
            font-family: gillmore;
            font-size: 12px;
            color: $site-white;
        }
    }

    .socialmedia {
        font-size: 18px;
        color: $site-white;
        letter-spacing: 1px;
    }
}